.ng-cloak {
    display: none !important;
}

.container {
    max-width: 820px;
}

.container > footer p {
    text-align: center; /* center align it with the container */
}

.brand.navbar-brand {
    color: white;
}

/* Give a quick and non-cross-browser friendly divider */
.content .sidebar {
    border-left: 1px solid #eee;
}

#cardForm input[type="text"] {
    width: 200px;
}

#username {
    width: 200px;
}

#messages {
    overflow-y: scroll;
}

#messages table {
    width: 100%;
}

.message {
    border-bottom: 1px solid #eee;
    vertical-align: top;
}

.message td {
    padding: 4px;
}

.message .user {
    width: 80px;
    overflow: hidden;
    text-align: right;
    font-weight: bold;
}

.message.me {
    background: #FFC;
}

.message.gm {
    background: #D9FBE7;
}

.message.join, .message.quit {
    background: #D9E7FB;
}

#login {
    text-align: center;
    padding-top: 100px;
    height: 300px;
}
