<div>
  <div class="page-header">
    <h1>About</h1>
  </div>
  <div class="row">
    <div class="span10" id="main">
      <p>
        Hi! This is just a side project I made where you can play Taboo online.
        I liked playing it with my friends during our Christmas party and I wanted
        to play a bit more.
      </p>
      <p>
        Feature-wise, it's a bit sparse. There's only one room and there is virtually
        no score tracking beyond a single round, but it should at least have the
        core game mechanics ok.
      </p>
      <p>
        There aren't that many words yet, and I'd greatly appreciate contributing
        some for the game. There's also an API for accessing the word list in case
        you want to build your own Taboo-like thing. <code>GET /cards</code> should
        give you the entire card list, while <code>GET /cards/random</code> will
        give you a random card each time.
      </p>
    </div>
  </div>
</div>
