@()
<!DOCTYPE html>

<html ng-app="taboo">
    <head>
        <title>Websocket Chat-Room</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>

        <div class="topbar">
            <div class="fill">
                <div class="container" ng-controller="LoginCtrl">
                    <a class="brand">Websocket Chat-Room</a>

                    <p class="pull-right" ng-show="service.isConnected()">
                        Logged in as {{service.username}} —
                        <a ng-click="service.disconnect()">Disconnect</a>
                    </p>

                    <form class="pull-right" ng-hide="service.isConnected()">
                        <input id="username" name="username" class="input-small" type="text" ng-model="username" placeholder="Username">
                        <button class="btn" type="submit" ng-click="service.connect(username); username=''">Sign in</button>
                    </form>

                </div>
            </div>
        </div>

        <div class="container" ng-controller="ViewCtrl">

            <div class="content" ng-include="partial('chatRoom')">
            </div>

            <footer>
                <p> </p>
            </footer>

        </div>

        <script src="@routes.Application.javascriptRoutes" type="text/javascript"></script>
        <script src="@routes.Assets.at("components/jquery/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("components/angular/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/chatRoomNg.js")" type="text/javascript"></script>

    </body>
</html>
