@()
<!DOCTYPE html>

<html>
<head>
  <title>Game n' Chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.css"))">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>
<body>

<div class="container">
  <div class="content" ng-include="partial(view)"> </div>

  <hr>
  <footer>
    <p><a href="http://twitter.com/pleasantprog" target="_blank">@@pleasantprog</a></p>
  </footer>
</div>

<script src="@routes.Application.javascriptRoutes" type="text/javascript"></script>
@support.Webpack.hotReloadScript

</body>
</html>
