@()
<!DOCTYPE html>

<html ng-app="taboo">
<head>
  <title>Game n' Chat</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>
<body ng-controller="ViewCtrl">

<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand">Game n' Chat</a>
      <div class="nav nav-collapse">
        <ul class="nav">
          <li ng-repeat="li in nav" class="{{li.partial == view ? 'active' : ''}}">
            <a ng-click="setView(li.partial)">{{li.name}}</a>
          </li>
        </ul>
      </div>

      <span ng-controller="LoginCtrl">
        <p class="pull-right" ng-show="!service.isConnected() && view != 'chatRoom'">
          <button class="btn" ng-click="setView('chatRoom')">Play!</button>
        </p>
        <p class="pull-right" ng-show="service.isConnected()">
          Logged in as {{service.username}} —
          <a ng-click="service.disconnect()">Disconnect</a>
        </p>
      </span>

    </div>
  </div>
</div>

<div class="container">
  <div class="content" ng-include="partial(view)"> </div>

  <footer>
    <p><a href="http://twitter.com/pleasantprog" target="_blank">@@pleasantprog</a></p>
  </footer>
</div>

<script src="@routes.Application.javascriptRoutes" type="text/javascript"></script>
<script src="@routes.Assets.at("components/jquery/jquery.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("components/angular/angular.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/chatServices.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/tabooServices.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>

</body>
</html>
